<div class="product">
    <div class="row g-4">
        <% if (typeof products !=='undefined' && products.length> 0) { %>
            <% products.forEach(product=> { %>
                <div class="col-md-6 col-lg-4">
                    <div class="product-item rounded">
                        <div class="product-item-inner border rounded <%= product.stock === 0 ? 'out-of-stock' : '' %>">
                            <div class="product-item-inner-item position-relative">
                                <img src="<%= product.image_url || '/img/product-3.png' %>"
                                    class="img-fluid w-100 rounded-top" alt="<%= product.name %>">
                                <% if (product.stock===0) { %>
                                    <div class="out-of-stock-overlay">
                                        <span class="out-of-stock-badge">
                                            <i class="fas fa-ban me-2"></i>Đã hết hàng
                                        </span>
                                    </div>
                                    <% } %>
                                        <div class="product-details">
                                            <a href="/single/<%= product._id %>"><i class="fa fa-eye fa-1x"></i></a>
                                            <% if (product.stock> 0) { %>
                                                <% if (typeof user !=='undefined' && user) { %>
                                                    <a href="javascript:void(0);"
                                                        onclick="addToCart('<%= product._id %>')"><i
                                                            class="fas fa-shopping-cart fa-1x"></i></a>
                                                    <% } else { %>
                                                        <a href="/auth/login"><i
                                                                class="fas fa-shopping-cart fa-1x"></i></a>
                                                        <% } %>
                                                            <% } %>
                                        </div>
                            </div>
                            <div class="text-center rounded-bottom p-4">
                                <a href="/shop?category=<%= product.category_id ? product.category_id._id : '' %>"
                                    class="d-block mb-2">
                                    <%= product.category_id ? product.category_id.name : 'Uncategorized' %>
                                </a>
                                <a href="/single/<%= product._id %>" class="d-block h5">
                                    <%= product.name %>
                                </a>
                                <span class="text-primary fs-5">
                                    <%= new Intl.NumberFormat('vi-VN').format(product.price) %> VNĐ
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
                    <% } else { %>
                        <div class="col-12">
                            <p class="text-center">No products found</p>
                        </div>
                        <% } %>
    </div>
</div>

<!-- Pagination -->
<% if (typeof totalPages !=='undefined' && totalPages> 1) { %>
    <nav class="mt-5">
        <ul class="pagination justify-content-center">
            <!-- Previous Button -->
            <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                <% if (currentPage> 1) { %>
                    <a class="page-link" href="javascript:void(0);"
                        onclick="loadProducts(<%= currentPage - 1 %><%= categoryId ? ', \'' + categoryId + '\'' : ', null' %><%= search ? ', \'' + search + '\'' : ', null' %><%= priceMin ? ', ' + priceMin : ', null' %><%= priceMax ? ', ' + priceMax : ', null' %>)">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <% } else { %>
                        <span class="page-link disabled">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <% } %>
            </li>

            <!-- Page Numbers -->
            <% for (let i=1; i <=totalPages; i++) { %>
                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                    <a class="page-link" href="javascript:void(0);"
                        onclick="loadProducts(<%= i %><%= categoryId ? ', \'' + categoryId + '\'' : ', null' %><%= search ? ', \'' + search + '\'' : ', null' %><%= priceMin ? ', ' + priceMin : ', null' %><%= priceMax ? ', ' + priceMax : ', null' %>)">
                        <%= i %>
                    </a>
                </li>
                <% } %>

                    <!-- Next Button -->
                    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                        <% if (currentPage < totalPages) { %>
                            <a class="page-link" href="javascript:void(0);"
                                onclick="loadProducts(<%= currentPage + 1 %><%= categoryId ? ', \'' + categoryId + '\'' : ', null' %><%= search ? ', \'' + search + '\'' : ', null' %><%= priceMin ? ', ' + priceMin : ', null' %><%= priceMax ? ', ' + priceMax : ', null' %>)">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            <% } else { %>
                                <span class="page-link disabled">
                                    <i class="fas fa-chevron-right"></i>
                                </span>
                                <% } %>
                    </li>
        </ul>
    </nav>
    <% } %>